<div class="wrapper">
    <p>проголосуйте за понравившегося</p>
    <ul class="list">
        <li class="smile item">
            <img id="busSmile" src="./img/business.png" alt="business smile" />
            <span class="count">0</span>
        </li>
        <li class="smile item">
            <img id="haySmile" src="./img/haywire.png" alt="haywire smile" />
            <span class="count">0</span>
        </li>
        <li class="smile item">
            <img id="lauSmile" src="./img/laugh.png" alt="laugh smile" />
            <span class="count">0</span>
        </li>
        <li class="smile item">
            <img id="thoughtSmile" src="./img/thoughtfulness.png" alt="thoughtfulness smile" />
            <span class="count">0</span>
        </li>
        <li class="smile item">
            <img id="unkSmile" src="./img/unkind.png" alt="unkind smile" />
            <span class="count">0</span>
        </li>
    </ul>
</div>